@charset "utf-8";

/* 기본사항 */

* {
	margin : 0 auto;
	color : #333;
	font-family : "나눔 고딕",sanserif; 
}

body {
	background-color : #fff;
}

ul {
	padding : 0;
}

ul>li {
	list-style : none; 
}

a {
	color : inherit;
	text-decoration : none;
}

.hidden {
	position : absolute;
	left : -9999px;
	font-size : 0;
}

/* header 시작 */

header {
	/* margin-top:50px; */
	width : 1400px;
	height : 100px;
}

header:after {
	content : "";
	display : block;
	clear : both;
}

header>.logoFirst {
	float:left;
	width:1000px;
}

header>.loginlast {
	float:right;
}

.logoFirst>ul>li {
	float:left;
}

.logoFirst>ul:after {
	content:"";
	display:block;
	clear:both;
}

.musicplus {
	margin-top : 20px;
}

.musicplus>li:nth-child(1) {
	width : 30px;
	height : 30px;
	background : 
	url(../images/icon1.png)
	no-repeat center center;
	margin-bottom : 10px;
}

.logoFirst>h1>a {
	display:inline-block;
	background : 
	url(../images/logo.png)
	no-repeat 0 10px;
	width : 200px;
	height : 100px;
	background-size : 90%;
}

.logoFirst>h1>span {
	position : relative;
	top : -45px;
	padding-bottom : 10px;
	font-weight : normal;
	color : #dadada;
	border-bottom : 2px solid #F28F97;
}

.logoFirst>h1>span>a:nth-child(2) {
	display:inline-block;
	background:url(../images/icon2.png) no-repeat 0 0;
	width:40px;
	height:39px;
	position:relative;
	top:10px;
}

.logoFirst>h1>span>a:nth-child(2):hover {
	background:url(../images/icon2_1.png) no-repeat 0 0;
}

.listmusic>li {
	margin-right : 40px;
	display : inline-block;
	font-size : 1.4em;
	font-weight : bold;
	letter-spacing : -3px;
	padding-bottom : 10px;
}

.listmusic>li:hover {
	color : #F28F97;
}

.loginlast>ul:after {
	content : "";
	display : block;
	clear : both;
}

.loginlast>ul>li {
	margin-top : 10px;
	float : left;
	font-weight : bold;
	margin-left : 10px;
}

.loginlast>.player>li:nth-child(1) {
	color : #F28F97;
}

.login {
	padding-top : 120px;
}

.login>li:nth-child(1) {
	font-size : 1.3em;
	float : right;
	padding-right : 20px;
	padding-top : 10px;
	color : #dadada;
}

.login>li:nth-child(2) {
	display : inline-block;
	width : 50px;
	height : 40px;
	position : relative;
	top : 0px;
	left : 220px;
	background : 
	url(../images/icon4.png)
	no-repeat center center; 
	background-size : 90%;
}

.login>li:nth-child(1):hover {
	color : #F28F97;
	font-weight : bold;
}

.login>li:nth-child(2):hover {
	background : 
	url(../images/icon4_1.png)
	no-repeat center center; 
	background-size : 80%;
}

/* slide 시작 */

.music_cover {
	width : 1400px;
}


.music_cover>.slide {
	margin-top:20px;
	float:left;
	width:1000px;
	
}

.music_cover>.slide2 {
	float:left;
	width:390px;
	margin-top:115px;
	margin-left:10px;
	height:334px;
	box-sizing:border-box;
	
}

.music_cover:after {
	content:"";
	display:block;
	clear:both;
}

.firstmusic  {
	float:left;
	width:800px;
	height:50px;
	margin-top : 20px;
}

.firstmusic>li {
	float:left;
	padding-top : 20px;
	margin-right : 20px;
	font-size : 1.2em;
	font-weight : bold;
	color : #8d8d8d;
}

.firstmusic>li:nth-child(1) {
	padding-top : 10px;
	font-size : 1.6em;
	font-weight : bold;
	letter-spacing : -1px;
	color : black;
}

.firstmusic>li:nth-child(2):hover {
	color : #F28F97;
}

.firstmusic>li:nth-child(3):hover {
	color : #F28F97;
}

.firstmusic>li:nth-child(4):hover {
	color : #F28F97;
}

.secondmusic {
	float:right;
	height:50px;
}

.secondmusic>li {
	margin-top : 40px;
	margin-right : 60px;
}

.secondmusic>li:nth-child(1) {
	font-weight : bold;
	font-size : 1.2em;
}

.secondmusic>li:nth-child(2) {
	position : relative;
	top : -30px;
	left : 60px;
	margin-top : 0px;
	width : 66px;
	height : 31px;
	background :
	url(../images/icon3.png)
	no-repeat center center;
}

.secondmusic>li:nth-child(2):hover {
	background :
	url(../images/icon3_1.png)
	no-repeat center center;
}

.album {
	margin-top:100px;
	clear:both;
}

.album:after {
	content:"";
	display:block;
	clear:both;
}

.album>li {
	width:162.5px;
	height:162.5px;
	margin-right:5px;
	margin-bottom:5px;
	background-color:#145263;
	float:left;
}

.album>li:nth-child(6n) {
	margin-right:0px;
}

.album>li:nth-child(1) {
	background :
	url(../images/banner5.png)
	no-repeat center center;
	background-size : 100%;
}

.album>li:nth-child(2) {
	background :
	url(../images/banner2.png)
	no-repeat center center;
	background-size : 100%;
}

.album>li:nth-child(3) {
	background :
	url(../images/banner3.png)
	no-repeat center center;
	background-size : 100%;
}

.album>li:nth-child(4) {
	background :
	url(../images/banner4.png)
	no-repeat center center;
	background-size : 100%;
}

.album>li:nth-child(5) {
	background :
	url(../images/banner1.png)
	no-repeat center center;	
	background-size : 100%;
}

.album>li:nth-child(6) {
	background :
	url(../images/banner6.png)
	no-repeat center center;
	background-size : 100%;
}

.album>li:nth-child(7) {
	background :
	url(../images/banner7.png)
	no-repeat center center;
	background-size : 100%;
}

.album>li:nth-child(8) {
	background :
	url(../images/banner8.png)
	no-repeat center center;	
	background-size : 100%;
}

.album>li:nth-child(9) {
	background :
	url(../images/banner9.png)
	no-repeat center center;
	background-size : 100%;
}

.album>li:nth-child(10) {
	background :
	url(../images/banner10.png)
	no-repeat center center;	
	background-size : 100%;
}

.album>li:nth-child(11) {
	background :
	url(../images/banner11.png)
	no-repeat center center;
	background-size : 100%;
}

.album>li:nth-child(12) {
	background :
	url(../images/banner12.png)
	no-repeat center center;
	background-size : 100%;
}

.album>li:nth-child(1):hover {
	background :
	url(../images/banner1_1.png)
	no-repeat center center;
	background-size : 100%;
}

.album>li:nth-child(2):hover {
	background :
	url(../images/banner2_1.png)
	no-repeat center center;
	background-size : 100%;
}

.album>li:nth-child(3):hover {
	background :
	url(../images/banner3_1.png)
	no-repeat center center;
	background-size : 100%;
}

.album>li:nth-child(4):hover {
	background :
	url(../images/banner4_1.png)
	no-repeat center center;
	background-size : 100%;
}

.album>li:nth-child(5):hover {
	background :
	url(../images/banner5_1.png)
	no-repeat center center;
	background-size : 100%;
}

.album>li:nth-child(6):hover {
	background :
	url(../images/banner6_1.png)
	no-repeat center center;
	background-size : 100%;
}

.album>li:nth-child(7):hover {
	background :
	url(../images/banner7_1.png)
	no-repeat center center;
	background-size : 100%;
}

.album>li:nth-child(8):hover {
	background :
	url(../images/banner8_1.png)
	no-repeat center center;
	background-size : 100%;
}

.album>li:nth-child(9):hover {
	background :
	url(../images/banner9_1.png)
	no-repeat center center;
	background-size : 100%;
}

.album>li:nth-child(10):hover {
	background :
	url(../images/banner10_1.png)
	no-repeat center center;
	background-size : 100%;
}

.album>li:nth-child(11):hover {
	background :
	url(../images/banner11_1.png)
	no-repeat center center;
	background-size : 100%;
}

.album>li:nth-child(12):hover {
	background :
	url(../images/banner12_1.png)
	no-repeat center center;
	background-size : 100%;
}

.centerlong {
	width : 1400px;
	height : 100px;
	padding-top : 50px;
	background :
	url(../images/slide.png)
	no-repeat center center;
}

.centerlong:hover {
	opacity : 0.4;
}

.slide2 {
	/* border : 1px solid red; */
	width : 400px;
	height : 400px;
	background :
	url(../images/slide4.png)
	center center;
}

.slide2:hover {
	opacity : 0.4;
}

/* banner 시작 */

.banner {
	margin-top:50px;
	width : 1400px;
	height : 100px;
	font-weight : bold;
	font-size : 1.2em;
	position : relative;
}

.banner>ul {
	float:left;
	width:800px;
}

.banner:after {
	content : "";
	display : block;
	clear : both;
}

.banner>div {
	float:left;
	width:300px;
	/* background-color:blue; */
	font-size : 1.7em;
	margin-left : 40px;
}

.banner>.girls {
	width : 500px;
	height : 500px;
	background :
	url(../images/slide3_1.png)
	no-repeat center center;
	background-size : 90%;
	margin-left : 40px;
	/* padding-bottom : 50px; */
	padding-top : 30px;
	/* margin-top : 10px; */
	/* border : 1px solid red; */
	background-size : 100%;
}

.banner>.girls:hover {
	background : 
	url(../images/slide3.png)
	no-repeat center center;
}

.banner>.new {
	width : 500px;
	height : 177px;
	background :
	url(../images/slide3_2.png)
	no-repeat center center;
	background-size : 100%;
	/* border : 1px solid red; */
}

.banner:after {
	content:"";
	display:block;
	clear:both;
}

.banner>ul>li {
	line-height : 63px;
}

.banner>ul>li:nth-child(1) {
	font-size : 1.5em;
}

.banner>ul>li:nth-child(2) {
	position : relative;
	top : -60px;
	left : -5px;
	float : right;
	font-size : 0.9em;
	color : #8d8d8d;
}

.banner>ul>li:nth-child(3) {
	border : 1px solid #8d8d8d;
}

.banner>ul>li:nth-child(4) {
	float : left;
	font-style : italic;
	font-size : 1.4em;
	padding-right : 50px;
}

.banner>ul>li:nth-child(5) {
	font-size : 0.9em;
	float : left;
	padding-right : 70px;
}

.banner>ul>li:nth-child(6) {
	font-size : 0.9em;
	color : #8d8d8d;
}

.banner>ul>li:nth-child(7) {
	width : 240px;
	height : 50px;
	background :
	url(../images/icon6.png)
	no-repeat center center;
	background-size : 100%;
	margin-left : 0px;
	/* border : 1px solid red; */
	background-size : 100%;
}

.banner>ul>li:nth-child(8) {
	/* border : 1px solid red; */
	margin-right : 0px;
	position : relative;
	top : -60px;
	float : right;
}


/* footer 시작 */

footer {
	width : 1400px;
	margin-top:100px;
	padding : 20px 0px;
	padding-top : 650px;
	padding-bottom : 10px;
}

footer:after {
	content : "";
	display : block;
	clear : both;
}

footer>.sns {
	float : left;
}

.sns>ul {
	list-style : none;
	font-size : 1.1em;
	float : right;
}

.sns>ul>li {
	float : left;
	padding-right : 2px;
}

.sns>ul>li {
	float : left;
	position:relative;
}

.sns>ul>li:nth-child(1) {
	padding-left : 0px;
	font-size : 1.1em;
	font-weight : bold;
	letter-spacing : 2px;
	padding-right : 20px;
	letter-spacing : -1px;
	line-height : 10px;
}

.sns>ul>li:nth-child(2),.sns>ul>li:nth-child(3),.sns>ul>li:nth-child(4) {
	width:37px;
	height:44px;
	/* border:1px solid red; */
}

.sns>ul>li:nth-child(2)>a>img,.sns>ul>li:nth-child(3)>a>img,.sns>ul>li:nth-child(4)>a>img {
	position:absolute;
	top:-16px;
}


.sns>ul>li:nth-child(5) {
	font-size : 1.9em;
	font-weight : bold;
	letter-spacing : -4px;
	float : left;
	display : block;
	clear : both;
	padding-right : 30px;
}

.sns>ul>li:nth-child(7) {
	padding-top : 12px;
	padding-bottom : 12px;
	line-height : -15px;
}

.sns>ul>li:last-child {
	padding-left : 225px;
	font-weight : bold;
	color : #8d8d8d;
}